# unconventional js
packages/*/blueprints/*/*files/
vendor/

# compiled output
/packages/-ember-data/docs/
dist
tmp

# dependencies
bower_components
node_modules

# misc
/coverage/
!.*
/.yarn/
.git

# ember-try
.node_modules.ember-try
bower.json.ember-try
package.json.ember-try

# ember-data
packages/*/node-tests/fixtures
