# unconventional js
**/blueprints/*/*files/
**/vendor/

# compiled output
**/dist/
**/dist-control/
**/dist-experiment/
**/tmp/
/packages/tracking/addon/
/packages/request/addon/
/packages/store/addon/
/packages/adapter/addon/
/packages/-ember-data/docs/
/packages/tracking/addon/
/packages/serializer/addon/
/packages/model/addon/
/packages/json-api/addon/
/packages/graph/addon/

**/DEBUG/

# dependencies
**/bower_components/
**/node_modules/
.broccoli-cache

# misc
**/coverage/
!.*
/.yarn/
/.git/

# ember-try
**/.node_modules.ember-try/
**/bower.json.ember-try
**/package.json.ember-try

# ember-data
**/node-tests/fixtures/
