# unconventional js
**/blueprints/*/*files/
**/vendor/
**/*.d.ts

# compiled output
**/dist/
**/dist-control/
**/dist-experiment/
**/dist-tests/
**/dist-test/
**/tmp/
**/unstable-preview-types/
/packages/-ember-data/docs/
/packages/tracking/
/packages/request/
/packages/store/addon/
/packages/adapter/addon/
/packages/serializer/addon/
/packages/model/addon/
/packages/json-api/addon/
/packages/graph/addon/
/packages/legacy-compat/addon/
/packages/request-utils/addon/
/packages/rest/addon/
/packages/active-record/addon/
/packages/data-worker/addon/
/packages/holodeck/
/packages/schema-record/
/packages/schema/
/tests/warp-drive__schema/
/packages/diagnostic/

**/DEBUG/

# dependencies
**/bower_components/
**/node_modules/
.broccoli-cache

# misc
**/coverage/
!.*
/.yarn/
/.git/

# ember-try
**/.node_modules.ember-try/
**/bower.json.ember-try
**/package.json.ember-try

# ember-data
**/node-tests/fixtures/
