.bundle
bundle
tmp/
tests/source/
dist/

.DS_Store
.project

.github-upload-token

tests/ember-data-tests.js
*gem

docs/build/
docs/node_modules/

node_modules/
bower_components/

.idea/.name

.idea/ember-data.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
