# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/docs/
/packages/-ember-data/docs/
concat-stats-for
dist
dist-*
tmp
unstable-preview-types
packages/*/addon

# dependencies
bower_components
node_modules
scripts/asset-size-tracking/current-data.json

# misc
.turbo/
.env*
.pnp*
.prettier-cache
.sass-cache
.eslintcache
/onnect.lock
coverage/*
libpeerconnection.log
npm-debug.log*
testem.log
test-execution-*.json
yarn-error.log
.broccoli-cache
tsconfig.tsbuildinfo

# Ignore artifacts of publishing
*.tgz

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

# ember-data specific
benchmarks/results/*.json

.DS_Store

.github-upload-token
*.swp
.metadata_never_index

/DEBUG
/packages/*/DEBUG
/tests/*/DEBUG

!.vscode/
.idea/
*.iml
