# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/docs/
/packages/-ember-data/docs/
concat-stats-for
dist
tmp
packages/tracking/addon
packages/request/addon
packages/store/addon
packages/adapter/addon
packages/serializer/addon
packages/model/addon
packages/json-api/addon
packages/graph/addon

# dependencies
bower_components
node_modules
scripts/asset-size-tracking/current-data.json

# misc
.env*
.pnp*
.sass-cache
/.eslintcache
/onnect.lock
coverage/*
libpeerconnection.log
npm-debug.log*
testem.log
yarn-error.log
.broccoli-cache

# Ignore artifacts of publishing
*.tgz

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

# ember-data specific
benchmarks/results/*.json

.DS_Store

.github-upload-token
*.swp
.metadata_never_index

/DEBUG
/packages/*/DEBUG
/tests/*/DEBUG

.vscode/
