# package-import-method=hardlink
# module-exists will report false answers for the test apps
# unless we avoid hoisting
hoist=true
# Fastboot Doesnt respect node_modules resolution for whitelisted deps
# https://github.com/ember-fastboot/ember-cli-fastboot/issues/901
hoist-pattern[]=*abortcontroller-polyfill*
hoist-pattern[]=*node-fetch*

# we want true but cannot use true until the below issue is fixed
# https://github.com/pnpm/pnpm/issues/5340
strict-peer-dependencies=false
