<h1>Performance Test Application</h1>
<ol>
  <li><LinkTo @route='basic-record-materialization'>Basic Record Materialization</LinkTo></li>
  <li><LinkTo @route='relationship-materialization-simple'>Relationship Materialization (Simple)</LinkTo></li>
  <li><LinkTo @route='relationship-materialization-complex'>Relationship Materialization (Complex)</LinkTo></li>
  <li><LinkTo @route='unload'>Unload</LinkTo></li>
  <li><LinkTo @route='unload-all'>Unload All</LinkTo></li>
  <li><LinkTo @route='destroy'>Destroy</LinkTo></li>
  <li><LinkTo @route='add-children'>Add Children</LinkTo></li>
  <li><LinkTo @route='add-children-to-materialized'>Add Children To Materialized</LinkTo></li>
  <li><LinkTo @route='add-children-then-materialize'>Add Children Then Materialize</LinkTo></li>
  <li><LinkTo @route='unused-relationships'>Unused Relationships</LinkTo></li>
</ol>