name: AssetSizeCheck

on:
  pull_request:
    branches:
      - master

concurrency:
  group: asset-size-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  asset-size-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 3
      - run: git fetch origin master --depth=1
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'
      - name: Check SHA
        run: |
          sha=$(git rev-parse --short=8 HEAD)
          echo "HEAD sha=$sha"
          echo "GITHUB_SHA sha=$GITHUB_SHA"
          mkdir -p tmp
          echo $sha > tmp/sha-for-check.txt
          originSha=$(git rev-parse HEAD^2)
          echo $originSha > tmp/sha-for-commit.txt
          git show --format=short --no-patch $originSha
      - name: Checkout master
        run: git checkout master
      - name: Install dependencies for master
        run: yarn install
      - name: Build Production master
        run: EMBER_DATA_FULL_COMPAT=true yarn workspace ember-data ember build -e production --output-path dists/control
      - name: Build Production master (no rollup)
        run: EMBER_DATA_FULL_COMPAT=true EMBER_DATA_ROLLUP_PRIVATE=false yarn workspace ember-data ember build -e production --output-path dists/control-no-rollup
      - name: Checkout ${{github.ref}}
        run: |
          sha=$(cat tmp/sha-for-check.txt)
          git checkout --progress --force $sha
      - name: Install dependencies for ${{github.ref}}
        run: yarn install
      - name: Build Production ${{github.ref}}
        run: EMBER_DATA_FULL_COMPAT=true yarn workspace ember-data ember build -e production --output-path dists/experiment
      - name: Build Production ${{github.ref}} (no rollup)
        run: EMBER_DATA_FULL_COMPAT=true EMBER_DATA_ROLLUP_PRIVATE=false yarn workspace ember-data ember build -e production --output-path dists/experiment-no-rollup
      - name: Analyze Master Assets
        run: |
          mkdir -p tmp
          mkdir -p tmp/asset-sizes
          node ./scripts/asset-size-tracking/generate-analysis.js packages/-ember-data/dists/control ./control-data.json
          node ./scripts/asset-size-tracking/print-analysis.js ./control-data.json -show > tmp/asset-sizes/master-analysis.txt
      - name: Analyze Master Assets (no rollup)
        run: |
          node ./scripts/asset-size-tracking/generate-analysis.js packages/-ember-data/dists/control-no-rollup ./control-data-no-rollup.json
          node ./scripts/asset-size-tracking/print-analysis.js ./control-data-no-rollup.json -show > tmp/asset-sizes/master-analysis-no-rollup.txt
      - name: Analyze ${{github.ref}} Assets
        run: |
          node ./scripts/asset-size-tracking/generate-analysis.js packages/-ember-data/dists/experiment ./experiment-data.json
          node ./scripts/asset-size-tracking/print-analysis.js ./experiment-data.json -show > tmp/asset-sizes/experiment-analysis-full.txt
          node ./scripts/asset-size-tracking/print-analysis.js ./experiment-data.json > tmp/asset-sizes/experiment-analysis.txt
      - name: Analyze ${{github.ref}} Assets
        run: |
          node ./scripts/asset-size-tracking/generate-analysis.js packages/-ember-data/dists/experiment-no-rollup ./experiment-data-no-rollup.json
          node ./scripts/asset-size-tracking/print-analysis.js ./experiment-data-no-rollup.json -show > tmp/asset-sizes/experiment-analysis-no-rollup-full.txt
          node ./scripts/asset-size-tracking/print-analysis.js ./experiment-data-no-rollup.json > tmp/asset-sizes/experiment-analysis-no-rollup.txt
      - name: Test Asset Sizes
        if: failure() || success()
        run: |
          set -o pipefail
          node ./scripts/asset-size-tracking/generate-diff.js ./control-data.json ./experiment-data.json | tee tmp/asset-sizes/diff.txt
      - name: Test Asset Sizes
        if: failure() || success()
        run: |
          # we don't set -o pipefail as this should always pass, we just want the diff
          node ./scripts/asset-size-tracking/generate-diff.js ./control-data-no-rollup.json ./experiment-data-no-rollup.json | tee tmp/asset-sizes/diff-no-rollup.txt
      - name: Upload Dist Artifacts
        if: failure() || success()
        uses: actions/upload-artifact@v3
        with:
          name: dists
          path: packages/-ember-data/dists
      - name: Upload Report Artifacts
        if: failure() || success()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: tmp/asset-sizes
      - name: Report Asset Sizes
        if: failure() || success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMENT_MARKER="Asset Size Report for "
          sha=$(cat tmp/sha-for-commit.txt)
          node ./scripts/asset-size-tracking/src/create-comment-text.js $sha > tmp/asset-sizes/comment.txt
          COMMENT_TEXT="@./tmp/asset-sizes/comment.txt"
          source scripts/asset-size-tracking/src/post-comment.sh
