name: Compat

on:
  pull_request:
    branches:
      - main


env:
  TURBO_API: http://127.0.0.1:9080
  TURBO_TOKEN: this-is-not-a-secret
  TURBO_TEAM: myself

concurrency:
  group: compat-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  fastboot:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Tests
        run: pnpm test:fastboot
  embroider:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Tests
        run: pnpm test:embroider
  floating-dependencies:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: ./.github/actions/setup
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies w/o lockfile
        run: pnpm install --no-lockfile
      - name: Basic Tests
        run: pnpm test
  node-version-test:
    name: Use Node.js ${{ matrix.node-version }}
    timeout-minutes: 8
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}
          restore-broccoli-cache: true
          install: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Basic Tests
        run: pnpm test
