name: 'Check Deprecations'

on:
  workflow_dispatch:

env:
  TURBO_API: http://127.0.0.1:9080
  TURBO_TOKEN: this-is-not-a-secret
  TURBO_TEAM: myself

jobs:
  test-all-deprecations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: 19.x
          cache: 'pnpm'
      - name: Install dependencies for main
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test

  test-all-deprecations-releases:
    strategy:
      fail-fast: false
      matrix:
        scenario: [ember-beta, ember-canary]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: 19.x
          cache: 'pnpm'
      - name: Install dependencies for ${{ matrix.scenario }}
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test:try-one ${{ matrix.scenario }} -- ember test --test-port=0
