name: 'Check Deprecations'

on:
  workflow_dispatch:

jobs:
  test-all-deprecations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
      - uses: actions/setup-node@v3
        with:
          node-version: 19.x
          cache: 'pnpm'
      - name: Install dependencies for main
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test

  test-all-deprecations-releases:
    strategy:
      fail-fast: false
      matrix:
        scenario: [ember-beta, ember-canary]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
      - uses: actions/setup-node@v3
        with:
          node-version: 19.x
          cache: 'pnpm'
      - name: Install dependencies for ${{ matrix.scenario }}
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test:try-one ${{ matrix.scenario }} -- ember test --test-port=0
