name: Main

on:
  pull_request:
  push:
    branches:
      - main
      - beta
      - release
      - 'release-*'
      - 'lts-*'
    tags:
      - '*'

concurrency:
  group: ci-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-lint-caches: true
          install: true
          skip-addon-build: true
      - name: Lint js
        run: pnpm lint:js
      - name: Check for TypeScript problems
        run: pnpm problems
      - name: Check for TypeScript problems for packages with per-package tsconfig
        run: pnpm check:types

  special-build-tests:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'main' || github.base_ref == 'beta' || github.base_ref == 'lts-4-12'
          )
        name: Enable All In progress features
        env:
          EMBER_DATA_FEATURE_OVERRIDE: ENABLE_ALL_OPTIONAL
        run: pnpm test
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'main' || github.base_ref == 'beta' || github.base_ref == 'lts-4-12'
          )
        name: Disabled All In progress features
        env:
          EMBER_DATA_FEATURE_OVERRIDE: DISABLE_ALL
        run: pnpm test
      - name: Production build
        run: pnpm test:production
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'main' || github.base_ref == 'beta' || github.base_ref == 'lts-4-12'
          )
        name: Remove All Deprecations
        env:
          EMBER_DATA_FULL_COMPAT: true
        run: pnpm test:production

  browser-tests:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        launcher: [Chrome] # Firefox currently has an issue on ubuntu we cannot replicate on macos 03/29/2023
    runs-on: ubuntu-latest
    name: Test ${{matrix.launcher}}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Development
        env:
          TESTEM_CI_LAUNCHER: ${{ matrix.launcher }}
          CI: true
        run: pnpm test
      - name: Production
        timeout-minutes: 10
        env:
          TESTEM_CI_LAUNCHER: ${{ matrix.launcher }}
          CI: true
        run: pnpm test:production

  lts:
    needs: [browser-tests]
    strategy:
      fail-fast: false
      matrix:
        scenario: [ember-lts-4.8, ember-lts-4.4, ember-lts-3.28]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests with ${{ matrix.scenario }}
        timeout-minutes: 10
        env:
          CI: true
        run: pnpm test:try-one ${{ matrix.scenario }} -- ember test --test-port=0

  releases:
    timeout-minutes: 10
    needs: [browser-tests]
    if: |
      github.event_name == 'pull_request' && (
        github.base_ref == 'main' || github.base_ref == 'beta' || github.base_ref == 'lts-4-12'
      ) || github.event_name == 'push' && (
        endsWith(github.ref, '/main') || endsWith(github.ref, '/beta')
      )
    strategy:
      fail-fast: false
      matrix:
        release: [ember-canary, ember-beta]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests with ${{ matrix.release }}
        env:
          CI: true
        run: pnpm test:try-one ${{ matrix.release }} -- ember test --test-port=0
