name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - beta
      - release
      - 'release-*'
      - 'lts-*'
    tags:
      - '*'

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-lint-caches: true
          install: true
          skip-addon-build: true
      - name: Lint js
        run: pnpm lint:js
      - name: Check for TypeScript problems
        run: pnpm problems

  basic-tests:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests
        run: pnpm test
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'master' || github.base_ref == 'beta'
          ) || github.event_name == 'push' && (
            endsWith(github.ref, '/master') || endsWith(github.ref, '/beta')
          )
        name: Enable All In progress features
        env:
          EMBER_DATA_FEATURE_OVERRIDE: ENABLE_ALL_OPTIONAL
        run: pnpm test
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'master' || github.base_ref == 'beta'
          ) || github.event_name == 'push' && (
            endsWith(github.ref, '/master') || endsWith(github.ref, '/beta')
          )
        name: Disabled All In progress features
        env:
          EMBER_DATA_FEATURE_OVERRIDE: DISABLE_ALL
        run: pnpm test
      - name: Production build
        run: pnpm test:production
      - if: |
          github.event_name == 'pull_request' && (
            github.base_ref == 'master' || github.base_ref == 'beta'
          ) || github.event_name == 'push' && (
            endsWith(github.ref, '/master') || endsWith(github.ref, '/beta')
          )
        name: Remove All Deprecations
        env:
          EMBER_DATA_FULL_COMPAT: true
        run: pnpm test:production

  browser-tests:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        launcher: [Chrome, Firefox]
    runs-on: ubuntu-latest
    name: Test ${{matrix.launcher}}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Run Production Test
        timeout-minutes: 10
        env:
          TESTEM_CI_LAUNCHER: ${{ matrix.launcher }}
          CI: true
        run: pnpm test:production

  lts:
    needs: [browser-tests]
    strategy:
      fail-fast: false
      matrix:
        scenario: [ember-lts-4.4, ember-lts-3.28]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests with ${{ matrix.scenario }}
        timeout-minutes: 10
        env:
          CI: true
        run: pnpm test:try-one ${{ matrix.scenario }} -- ember test --test-port=0

  releases:
    timeout-minutes: 10
    needs: [browser-tests]
    if: |
      github.event_name == 'pull_request' && (
        github.base_ref == 'master' || github.base_ref == 'beta'
      ) || github.event_name == 'push' && (
        endsWith(github.ref, '/master') || endsWith(github.ref, '/beta')
      )
    strategy:
      fail-fast: false
      matrix:
        release: [ember-release, ember-beta]
        include:
          - release: ember-beta
            continue-on-error: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests with ${{ matrix.release }}
        env:
          CI: true
        run: pnpm test:try-one ${{ matrix.release }} -- ember test --test-port=0
        continue-on-error: ${{ matrix['continue-on-error'] == true }}

  additional-scenarios:
    timeout-minutes: 8
    needs: [browser-tests]
    strategy:
      matrix:
        scenario: [with-native-fetch, with-ember-fetch-no-jquery, with-ember-fetch-and-jquery, with-jquery]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
      - name: Basic tests with ${{ matrix.scenario }}
        env:
          CI: true
        run: pnpm test:try-one ${{ matrix.scenario }} -- ember test --test-port=0
