name: 'Nightly'

on:
  schedule:
    - cron: '0 14 * * *' # 14:00 in UTC is 6am PST

jobs:
  test-all-deprecations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'pnpm'
      - name: Install dependencies for master
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test
      - name: Encapsulation tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test:encapsulation

  test-all-deprecations-releases:
    strategy:
      fail-fast: false
      matrix:
        scenario: [ember-beta, ember-canary]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'pnpm'
      - name: Install dependencies for ${{ matrix.scenario }}
        run: pnpm install
      - name: Basic Tests
        env:
          CI: true
          ASSERT_ALL_DEPRECATIONS: true
        run: pnpm test:try-one ${{ matrix.scenario }}
