name: Partner Tests

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - synchronize
      - ready_for_review

env:
  TURBO_API: http://127.0.0.1:9080
  TURBO_TOKEN: this-is-not-a-secret
  TURBO_TEAM: myself

concurrency:
  group: partners-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    if: contains(github.event.pull_request.labels.*.name, 'ci-partners')
    name: 'Partner Tests'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        partner: [
            # ember-data-relationship-tracker,
            ember-m3,
            ember-observer,
            # ember-resource-metadata,
            factory-guy,
            ilios-frontend,
            model-fragments,
            storefront,
            travis-web,
          ]
        include:
          - partner: storefront
            continue-on-error: true
          - partner: factory-guy
            continue-on-error: true
          - partner: travis-web
            continue-on-error: true
          - partner: ilios-frontend
            continue-on-error: true
          - partner: model-fragments
            continue-on-error: true
          - partner: ember-observer
            continue-on-error: true
          - partner: ember-m3
            continue-on-error: true
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: ./.github/actions/setup
        with:
          restore-broccoli-cache: true
          install: true
          build-addons: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate package tarballs
        run: node ./scripts/packages-for-commit.js
      - name: Run Tests
        id: test-partner
        timeout-minutes: 16
        env:
          CI: true
        run: pnpm test-external:${{ matrix.partner }}
        continue-on-error: ${{ matrix['continue-on-error'] == true }}
      - name: Check on failures
        if: ${{ matrix['continue-on-error'] == true && steps.test-partner.outcome == 'success' }}
        run: exit 1
